@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Spinner and Spinner Mini */
@layer components {
  .spinner {
    margin: 0.6rem auto;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid black;
    border-right-color: white;
    animation: rotate 1s infinite linear;
  }

  .mini-spinner {
    width: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid currentColor;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
